body {
  background-color: #e3f6f5;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 25px 50px;
  background-color: #ffffff;
  margin: 100px 600px;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #272343;
}

.search-form {
  border-radius: 30px;
  padding: 8px;
  border: 1px solid #272343;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.search-form:hover {
  border-radius: 30px;
  padding: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all;
}

.search,
.submit {
  border: none;
  background-color: #ffffff;
  font-size: 15px;
  padding: 8px;
}

.search {
  width: 90%;
  outline: none;
}
